body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.header {
  color: white;
  width: 100%;
}
main {
  flex: 1 1 auto;
}
[class*="__container"]{
  max-width: 81.25rem;
  margin: 0 auto;
  padding-left: .9375rem;
  padding-right: .9375rem;
}
